{%extends 'partials/base.html'%}

{%block title%}Password Reset Page{%endblock%}
{% load crispy_forms_tags %}

{%block content%}
<div class="container">
<div class="row mt-5">
<div class="col-md-6 offset-md-3">
 {%for message in messages%}
            {%if message%}
            <div class="alert alert-{{message.tags}}">
            {{message}}
            </div>
            {%endif%}
            {%endfor%}
<div class="border p-3 bg-white">
<h3>Password Reset Page</h3> 
<hr>
<form method="POST">
{% csrf_token %}
{{form|crispy}}
<input type="submit" class="btn btn-info" value="Reset Password"> 
 <!--when you click in this forget this call password_reset url which has inbuilt passwordreset class and show password_set webpage of django admin-->
<!--always remember here we use user table of admin so mail should be available in user table otherwise  it will not work-->
</form>
</div>
</div>
</div>

{%endblock%}